.main-content{
   
    padding-left:30px;
    display:flex;
}
.left-navigation{
    display: inline-grid;
}
.page-name{
    max-width: min-content;
    font-weight: 900;
    font-size:35px;
    margin-bottom: 20px;   
}
.navigation-content{
    display: inline-grid
}
.navigate-page{
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 25px;
    color:slategray;
    font: message-box;
}
.navigate-page.active{
    text-decoration: line-through;
  text-decoration-color:#ff4747fc ;
}
button{
    background-color: #ff4747fc;
    padding:5px;
    color:white;
    width: 130px;
    border:none;
    border-radius: 25px;
    margin-top:70px;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
}
.main-page-content{
    margin-left: 50px;
}
.ask-question-text{
    margin-top:60px;
    display:flex;
}  
.question-heading{
    max-width: 660px;
    padding-left: 20px;
}
.heading{
    font-size: 80px;  
    font-weight: 400; 
    font-family: 'Abril Fatface', cursive;
    
    
}
.heading-description{
    max-width:200px;
    font-family: sans-serif;
    padding-left: 80px;
    line-height: 1.5;
    margin-block: 00px !important;
    color: #8c8989;
}
.available-foods{
    display: flex;
    margin-top: 70px;
    max-width:1000px;
	white-space:nowrap;
    overflow-x: auto;
	
    
}
.food-panel{
    display: grid;
    padding:30px;
    background-color: white;
    margin: 0 20px 15px 20px;
    text-align: center;
    border-radius: 25px;
    box-shadow:0px 10px 20px 0px #bdbcbc;

}
.food-image{
     width: 120px;
    height: 120px;
    border-radius: 50%;
}
.food-name{
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 12px;
}
.heading-border{
    display: block;
    width: 70px;
    height: 2px;
    border-radius: 20px;
    background-color: #ff4747fc;
}
.description-text-mobile{
    display: none;
    
}
.fa.fa-bars{
    display: none;
}
.fa.fa-shopping-cart{
    display: none;
}
@media screen and (max-width: 414px){
    body{
        margin: 0;
    }
.main-content{
    display: block;
    padding: 0;
}
.left-navigation{
    display: flex;
    height: 26px;
    overflow: hidden;
    justify-content: space-between;
    padding: 20px;
}
.navigation-content, .left-navigation >button {
    display: none;
}
.fa.fa-bars{
    font-size: 35px;
    color: #ff4747fc;
    display: block;
}
.fa.fa-bars:hover ~ .navigation-content{
    display: grid;
    position: absolute;
    background-color: white;
    width: 130px;
    box-shadow: 0px 0px 20px;
    top: 66px;
    padding: 0 20px
}
.navigate-page{
    font-size: 34px;
}
.page-name{
    font-size: 35px;
}
.fa.fa-shopping-cart{
    font-size: 35px;
    color: #ff4747fc;
    display: block;
}
.main-page-content{
    margin:00px;
}
.ask-question-text{
    margin-top: 20px;
    display: block;
    padding: 20px;
}
.question-heading{
    padding: 0;
}
.heading{
    font-size: 40px;
}
.heading-description{
    display: none;
}
.available-foods{
    margin-top: 15px;
    display: block;
    width: 100%;
    white-space: initial;
    text-align: center;
    max-height: 425px;
}
.food-panel{
    display: inline-block;
    width: auto;
    height: 150px;
    padding: 20px;
    margin: 10px;
}
.food-image{
    display: block;
}
.description-border{    
    display: block;
    width: 70px;
    height: 2px;
    border-radius: 20px;
    background-color: #ff4747fc;
}
.description-text-mobile{
    padding: 20px;
    font-size: 22px;
    color: #8c8989;
    line-height: 38px;
    display: block;
}
}